button:disabled {
	background: #dddddd;
}


pre {
	background-color: #f9f9f9!important;
	border: solid thin #e7e2e2!important;
	border-radius: 8px !important;
	padding-left: 20px !important;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.spinner {
	font-size: 48px !important;
	color: blue;
}

.modal-dialog{
    position: relative;
    display: table; /* This is important */ 
    overflow-y: auto;    
    overflow-x: auto;    
}
.center {
	text-align: center;
	vertical-align: middle;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.align-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.disabled {
	opacity: .50;
}

.error {
	color: red;
}

.request__msg-icon {
  	margin: 5px 0 0 5px;
  	font-size:35px;  	
}
.header__container-host-icon {
  	margin: 10px 0 0 5px !important;   	
}

.header__container {
	z-index: 99;
	position: absolute;
	top: 0;
	background-color: #e7f5fe;
/* 	border-bottom: solid grey medium; */
	width: 100%;		
}

.header__title {
	margin: 7px 0 5px 5px;
	margin-bottom: 0;
	color: blue;
	float: left;	
	vertical-align: middle;
	font-size: large;
	font-weight: 900;	
	line-height: 30px;	
}
.header__trash {
	float: left;
	margin: 12px 0px 0 10px;
	cursor: pointer;
	font-size: large !important;			
}
.header__checkbox-container {
	margin-left: 10px;
	padding-top: 5px;	
	float: left;		
}
.header__auto-scroll-label {
	margin-right: 5px;
	vertical-align: middle;
	line-height: 35px;
}
.header__freeze-label.active {
	color: red;
}
.header__freeze-label {
	vertical-align: middle;
	line-height: 35px;
}

.header__filter {
	float: left;	
}
.header__filter-input {
	margin: 12px 0 0 10px;
	height: 20px;
	width: 300px;	
}

.header__status,
.header__settings {
	float: right;
	margin: 12px 5px 0 5px;
	cursor: pointer;
	font-size: large !important;		
}
.header__settings {
	color: blue;
}
.header__status {
	color: red;		
}

.request-response__container {
	margin: 48px 0 0 0;
	display: -webkit-flex; /* Safari */
  	display: flex;  	
}

.request__container {	
	padding-right: 5px;
	overflow-y: auto;
	width: 600px;
	height: calc(100vh - 40px);
	max-height: calc(100vh - 40px);
	resize: both;
	border-right: solid grey;
	margin: 0 15px 0 0;	
}

.request__msg-container {
	margin: 0 0 0 0;
	white-space: nowrap;
	width: 100%;			
}
.request__msg-seqno-container {
	margin: 0 0 0 5px;
	padding: 2px;	
	float: left;
	background-color: whitesmoke;
	width: 7ch;	
	text-align: right;	
}
.request__msg-seqno-container.active {
	background-color: lightgrey;
}
.request__msg-seqno {
	margin-right: 2px;
}
.request__msg {
	display: inline-block;
	cursor: pointer;
	margin: 0;
	padding: 2px;
	width: calc(100% - 72px);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-x: hidden;
}
.request__msg.active {
	background-color: yellow;
}
.request__endpoint {
	color: green;
}

.request__body {	
	margin: 0 0 0 5px;
	width: auto;
	white-space: pre;
	font-family: 'Courier New', Courier, monospace;			
}

.response__loading,
.response__container {		
	height: calc(100vh - 40px);
	max-height: calc(100vh - 40px);	
	overflow-y: auto;
	-webkit-flex: 1;
    flex: 1;
}

.response__data-container {
	margin: 0 0 0 0;
	white-space: nowrap;		
}

.response__body {
	font-family: 'Courier New', Courier, monospace;
}

.request__headers,
.response__headers,
.request__query-params,
.response__body {
	display: none;		
}
.request__headers.active,
.response__headers.active,
.request__query-params.active,
.response__body.active {
	display: block;
	margin: 0 10px 5px 0;
}

.request__headers-twisty,
.response__headers-twisty,
.request__query-params-twisty,
.response__body-twisty {
	width: 0; 
  	height: 0; 
  	border-top: 5px solid transparent;
  	border-bottom: 5px solid transparent;
  	border-left: 5px solid;
  	float: left;
  	margin: 5px 2px 0 0;
  	cursor: pointer;
}
.request__headers-twisty.active,
.response__headers-twisty.active,
.request__query-params-twisty.active,
.response__body-twisty.active {
	width: 0; 
  	height: 0; 
  	border-left: 5px solid transparent;
  	border-right: 5px solid transparent;
  	border-top: 5px solid;
  	float: left;
  	margin: 6px 0 0 0 !important;
}

.twisty-label {
	cursor: pointer;
}

.http-message__url {
	cursor: pointer;
}

.resend-modal__url-container,
.resend-modal__body-container {
	display: table;
	width: calc(100vw - 100px);	
}
.resend-modal__url,
.resend-modal__body {
	display: table-row;	
}

.modal-content {
	width: 90vw;
}

.table settings-modal__table {
	white-space: nowrap;
}

.settings-modal__error-message,
.resend-modal__error-message {
	float: left;
	color: red;
}

.settings-modal__input-path-container,
.settings-modal__input-url-container {
	padding-right: 10px;	
	width: 40% !important;	
}
.settings-modal__select-protocol-container {
}
.settings-modal__input-path,
.settings-modal__input-url {
	width: 500px !important;
}
.settings-modal__select-protocol {
	width: 80px !important;
}

.settings-modal__proxy-delete-button {
	margin-top: 5px;
}

.settings-modal__proxy-path,
.settings-modal__proxy-protocol,
.settings-modal__proxy-host {
	padding-top: 7px;	
	border: none;
}
.settings-modal__recording-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.settings-modal__recording-checkbox {
}

.settings-modal__label-max-messages {
	padding-right: 10px;	
}
.settings-modal__input-max-messages {
	width: 12ch !important;
}