@media screen and (prefers-color-scheme: dark) {
	body {
		font-family: Menlo, Monaco, 'Courier New', monospace;
		color: rgba(232, 230, 227) !important;
		background-color: #111111 !important;
	}

	.settings-modal__proxy-row {
		color: rgba(232, 230, 227) !important;
	}

	pre,
	.MuiPaper-root {
		color: rgba(232, 230, 227) !important;
		background-color: #111111 !important;
	}

	.btn-default,
	input,
	textarea,
	select {
		color: rgba(232, 230, 227) !important;
		background-color: #333333 !important;
		border-color: #333333 !important;
	}

	.MuiTab-textColorPrimary.Mui-selected,
	.PrivateTabIndicator-colorPrimary-2 {
		color: #007bff !important;
	}

	table,
	tr,
	td {
		border-color: black !important;
	}

	.fa-keyboard {
		color: whitesmoke !important;
	}
}

@media screen and (prefers-color-scheme: light) {
	body {
		background-color: whitesmoke !important;
		color: black !important;
	}

	.MuiPaper-root {
		background-color: whitesmoke !important;
		color: black !important;
	}

	table,
	tr,
	td {
		border-color: white !important;
	}

	pre {
		background-color: #f9f9f9 !important;
		border: solid thin #e7e2e2 !important;
		color: black;
	}

	.fa-keyboard {
		color: black;
	}

	.MuiCheckbox-colorSecondary {
		color: blue;
	}
}

.react-tagsinput,
.react-tagsinput input,
.header__filter-input,
.header__filter-input input {
	color: rgba(232, 230, 227) !important;
	background-color: #111111 !important;
}

.react-tagsinput {
	border: none !important;
}

.react-tagsinput-tag {
	background-color: #ff6464 !important;
	border: #ff6464 !important;
	color: black !important;
	font-weight: bold;
	font-size: large !important;
}

button:disabled {
	background-color: #dddddd;
}

pre {
	border-radius: .5rem !important;
	padding-left: 1.5rem !important;
}

td input {
	width: 100%;
}

.table-compact th,
.table-compact td {
	padding-top: .5rem !important;
	padding-bottom: 0 !important;
}

.MuiTab-root {
	min-width: 140px !important;
}

.btn-group-xs>.btn,
.btn-xs {
	padding: .25rem .25rem !important;
	font-size: .875rem !important;
	line-height: .5 !important;
	border-radius: .2rem !important;
}

.MuiAccordion-root {
	margin: 0 0 0 -1rem !important;
}

.spinner {
	font-size: 2rem !important;
	color: #007bff;
}

.modal-dialog {
	position: relative;
	display: table;
	/* This is important */
	overflow-y: auto;
	overflow-x: auto;
}

.modal-footer {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.center {
	text-align: center;
	vertical-align: middle;
	align-self: center;
	justify-self: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.align-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.disabled {
	opacity: .50;
}

.error {
	color: red;
}

.no-response {
	color: rgba(128, 128, 128, 0.801);
}

.success {
	color: green !important;
}

.updating {
	color: rgba(255, 187, 0, 0.884);
}

.visited-color {
	color: #007bff;
}

@media screen and (prefers-color-scheme: light) {
	.visited-color {
		color: #1a0dab;
	}
}

.request__msg-icon {
	margin: .3rem 0 0 .5rem;
	font-size: 1rem;
}

.request__msg-resend-btn {
	display: none;
	margin-left: .5rem;
}

.request__msg-resend-btn.active {
	display: inline-block;
}

.request__msg-caret {
	margin: .3rem .1rem 0 .5rem;
	font-size: 1rem;
}

.request__msg-request-line {
	display: flex;
}

.request__msg-status {
	margin-right: 1rem;
	text-overflow: ellipsis;
	overflow: hidden;
}

.request__msg-method {
	margin-right: 1rem;
	text-overflow: ellipsis;
	overflow: hidden;
}

.request__msg-endpoint {
	margin-right: 1rem;
	max-width: 64ch;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.request__msg-client {
	margin-right: 1rem;
	width: 14ch;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.request__msg-highlight {
	/* color:rgba(0, 55, 255, 0.884) !important; */
	color: rgb(203, 75, 22) !important;
}

.header__container {
	z-index: 99;
	position: fixed;
	top: 0;
	background-color: #333333;
	width: 100%;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.side-bar-snapshots {
	display: flex;
	width: 100%;
}

.side-bar {
	padding-top: 3rem;
	margin-top: 3rem;
	background-color: #333333;
	color: whitesmoke;
	height: calc(100vh - 6rem);
	width: 8rem;
}

.side-bar-item {
	display: flex;
	width: 100%;
	padding: .5rem;
}

.side-bar-count {
	font-size: x-small;
}

.side-bar-checkbox-container {
	display: flex;
	width: 100%;
	color: whitesmoke !important;
}

.side-bar-icon {
	font-size: x-large;
	color: whitesmoke !important;
}

.side-bar-checkbox {
	padding: 0 !important;
	margin-right: .5rem !important;
}

.side-bar-small-count {
	padding-left: .25rem;
	font-size: x-small;
}

.side-bar-status {}

.side-bar-select {
	color: whitesmoke !important;
}

.MuiSelect-icon {
	color: whitesmoke !important;
}

@media screen and (prefers-color-scheme: light) {
	.side-bar-checkbox.MuiCheckbox-root {
		color: whitesmoke !important;
	}

	.side-bar-domain-checkbox.MuiCheckbox-root {
		color: black !important;
	}
}

@media screen and (prefers-color-scheme: dark) {
	.side-bar-domain-checkbox.MuiCheckbox-root {
		color: whitesmoke !important;
	}
}

.side-bar-domain-checkbox.MuiCheckbox-colorSecondary.Mui-checked {
	color: #f50057 !important;
}

.side-bar.MuiMenuItem-root {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.side-bar-divider {
	background-color: #007bff;
	margin-left: .25rem;
	margin-right: .25rem;
	height: .1rem;
}

.footer__container {
	z-index: 99;
	position: fixed;
	bottom: 0;
	background-color: #333333;
	width: 100%;
	height: 3rem;
	display: flex;
	align-items: center;
}

.footer__exclude-filter {
	display: flex;
	align-items: center;
}

.footer__exclude-label {
	margin-right: .5rem;
	color: #ff6464;
}

.footer__item {
	margin: 0 0 0 1rem;
	color: whitesmoke;
	line-height: 2ch;
}

.header__left-container {
	display: flex;
	align-items: center;
}

.header__icon {
	margin: 0 0 0 .5rem;
	cursor: pointer;
}

.header__title {
	margin: 0 1rem;
	color: whitesmoke;
	float: left;
	vertical-align: middle;
	font-size: x-large;
	font-weight: 100;
	cursor: pointer;
}

.header__trash,
.header__show-errors,
.header__auto-scroll,
.header__sort-req-res,
.header__stop,
.header__more-menu {
	float: left;
	margin: 0 0 0 1rem;
	cursor: pointer;
	color: whitesmoke;
	font-size: large !important;
	min-width: 1ch;
	text-align: center;
}

.header__sort-req-res {
	margin-right: .5rem;
	width: 2ch;
}

.header__show-errors.active {
	color: red;
}

.header__resend,
.header__folder-minus,
.header__import,
.header__export {
	cursor: pointer;
}

.header__filter {
	float: left;
}

.react-tagsinput-input,
.header__filter-input {
	margin: 0 0 0 1rem;
	height: 32px;
}

.react-tagsinput,
.header__filter-input {
	width: calc(100vw - 700px) !important;
}

.header__filter-input.active {
	background-color: lightyellow;
}

.header__filter-case,
.header__filter-regex,
.header__filter-logical {
	margin-left: .5rem;
	color: whitesmoke;
	cursor: pointer;
	width: 2.2ch;
	text-align: center;
}

.header__filter-case.active,
.header__filter-regex.active,
.header__filter-logical.active {
	border: red solid;
	border-radius: .5rem;
}

.breakpoint__icon {
	margin-left: .5rem;
	cursor: pointer;
	width: 2ch;
	text-align: center;
}

.breakpoint__icon.active {
	color: whitesmoke;
	background-color: black;
	border-radius: .5rem;
}

@media screen and (prefers-color-scheme: dark) {
	.breakpoint__icon.active {
		color: black;
		background-color: whitesmoke;
		border-radius: .5rem;
	}
}

.header__status,
.header__settings {
	margin: 0 0 0 0;
	font-size: large !important;
}

.header__status {
	float: left;
}

.header__settings {
	color: whitesmoke;
	margin-right: .5rem;
}

.header__status {
	color: red;
}

.export__input-file-name {
	margin: 0 1rem 1rem 1rem;
	width: calc(100% - 2rem);
}

.snapshot__container {
	margin-top: 3rem;
	margin-bottom: 2rem;
}

.snapshot__container .MuiTabs-root {
	z-index: 99;
	position: fixed;
	top: 3rem;
	height: 3rem;
	background-color: rgb(26, 24, 24) !important;
}

@media screen and (prefers-color-scheme: light) {
	.snapshot__container .MuiTabs-root {
		background-color: rgb(228, 227, 227) !important;
	}
}

.snapshot__container .Mui-selected {
	/* background-color: whitesmoke */
}

.snapshot__container .MuiTabPanel-root {
	padding: 0 !important;
}

.snapshot__tab {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

.snapshot__close,
.snapshot__folder-plus {
	cursor: pointer;
}

.snapshot__folder-plus {
	font-size: x-large;
}

@media screen and (prefers-color-scheme: dark) {
	.snapshot__folder-plus {
		color: #bbbbbb;
	}
}

.request-response__container {
	display: -webkit-flex;
	/* Safari */
	display: flex;
	padding-top: 3rem;
	width: calc(100vw - 3rem);
}

.request__container {
	padding-right: .5rem;
	overflow: auto;
	width: calc(50% - 4rem);
	height: calc(100vh - 9rem);
	max-height: calc(100vh - 9rem);
	resize: horizontal;
	border-right: solid grey;
	margin: 0 1rem 0 0;
	display: flex;
	flex-direction: column;
}

.request__container.unselected {
	width: 100%;
	resize: none;
}

.request__msg-container {
	margin: 0 0 0 0;
	width: 100%;
}

.request__msg-header {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
}

.request__msg-time-bar-container {
	margin-left: .5rem;
	min-width: 8ch;
	display: flex;
	align-items: center;
	justify-content: right;
	height: 24px;
}

.request__msg-time-bar {
	height: 10px;
	background-color: #007bff;
	opacity: .5;
}

.request__msg-time-bar.no-response {
	background-color: crimson;
}

.request__msg-time-ms {
	margin-left: .75rem;
	z-index: 1;
	position: absolute;
	text-align: center;
	font-size: xx-small;
	line-height: 24px;
}

.request__msg {
	cursor: pointer;
	white-space: nowrap;
	display: flex;
}

.request__msg.active {
	border: red solid thin;
	border-radius: .2rem;
}

.request__endpoint {
	color: green;
}

.request__body {
	margin-left: .5rem;
	width: auto;
	white-space: pre;
	font-family: 'Courier New', Courier, monospace;
}

.response__loading,
.response__container {
	height: calc(100vh - 8rem);
	max-height: calc(100vh - 8rem);
	overflow-y: auto;
	overflow-x: auto;
	-webkit-flex: 1;
	flex: 1;
}

.response__data-container {
	white-space: nowrap;
}

.response__body {
	font-family: 'Courier New', Courier, monospace;
}

.request__headers,
.response__headers,
.request__query-params,
.response__body {
	display: none;
}

.request__headers.active,
.response__headers.active,
.request__query-params.active,
.response__body.active {
	display: block;
	margin: 0 1rem .5rem 0;
}

.request__headers-twisty,
.response__headers-twisty,
.request__query-params-twisty,
.response__body-twisty {
	width: 0;
	height: 0;
	border-top: .5rem solid transparent;
	border-bottom: .5rem solid transparent;
	border-left: .5rem solid;
	margin: .5rem .1rem 0 0 !important;
	cursor: pointer;
}

.request__headers-twisty.active,
.response__headers-twisty.active,
.request__query-params-twisty.active,
.response__body-twisty.active {
	width: 0;
	height: 0;
	border-left: .5rem solid transparent;
	border-right: .5rem solid transparent;
	border-top: .5rem solid;
}

.twisty-label {
	cursor: pointer;
}

.http-message__url {
	cursor: pointer;
}

.modal-full-screen-scroll {
	height: calc(100vh - 200px);
	overflow-y: auto;
}

.resend-modal__field {
	margin-bottom: 1rem;
	margin-right: .5rem;
	height: 30px;
	width: 100px;
}

.resend-modal__header-select {
	width: 150px;
	height: 30px;
}

.resend-modal__header-input {
	height: 30px;
	width: 100%;
}

.resend-modal__host {
	width: 200px;
}

.resend-modal__url-container,
.resend-modal__body-container {
	width: 100%;
}

.resend-modal__body-container {
	height: 400px;
}

.resend-modal__body {
	height: 90vh;
}

.resend-modal__url,
.resend-modal__body {
	display: table-row;
}

.modal-window {
	display: flex;
	align-items: center;
	justify-content: center;
}

.breakpoint-modal,
.no-capture-modal,
.metrics-modal,
.reachable-modal,
.settings-modal {
	background-color: rgb(24, 26, 27);
	width: 99vw;
	padding: 1rem 1rem;
}

@media screen and (prefers-color-scheme: light) {

	.breakpoint-modal,
	.no-capture-modal,
	.metrics-modal,
	.reachable-modal,
	.settings-modal {
		background-color: white;
	}
}

.breakpoint-modal {
	max-width: 90vw;
}

.no-capture-modal {
	max-width: 400px;
}

.no-capture-modal__add-button {
	margin-top: .5rem;
	font-size: large;
	cursor: pointer;
	color: #28a745;
}

.no-capture-modal__remove {
	font-size: large;
	color: red;
	cursor: pointer;
	margin-right: .5rem;
}

.reachable-modal {
	max-width: 700px;
}

.metrics-modal {
	max-width: 90vw;
}

.settings-modal__proxy-row.nocapture,
.settings-modal__proxy-row.nocapture input {
	background-color: rgba(216, 214, 214, 0.3);
}


.settings-modal__scroll-container {
	overflow-y: auto;
	height: calc(100vh - 400px);
}

.no-capture-modal__scroll-container,
.metrics-modal__scroll-container,
.reachable-modal__scroll-container {
	overflow-y: auto;
	height: 80vh;
}

.modal-content {
	width: 99vw;
}

.settings-modal__table {
	white-space: nowrap;
}

.settings-modal__error-message,
.resend-modal__error-message {
	float: left;
	color: red;
}

.settings-modal__proxy-protocol-container {
	white-space: nowrap;
}

.settings-modal__add-container {
	padding-left: .5rem;
	width: 25% !important;
}

.settings-modal__add-input {
	width: 100% !important;
}

.settings-modal__select-protocol {
	width: 100px !important;
	padding-left: 0 !important;
}

.settings-modal__proxy-delete-button {
	margin-top: .5rem;
}

.settings-modal__icon {
	margin-top: .725rem;
	display: inline-block;
}

.settings-modal__proxy-path,
.settings-modal__proxy-protocol,
.settings-modal__proxy-host,
.settings-modal__proxy-comment {
	padding-top: .5rem;
}

.settings-modal__proxy-host .settings-modal__proxy-port .settings-modal__status-container,
.settings-modal__recording-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.settings-modal__proxy-port {
	width: 8ch;
}

.settings-modal__status,
.settings__recording {
	margin-top: .70rem !important;
	cursor: pointer;
}

.settings__recording {
	color: #007bff;
}

.settings-modal__label-max-messages {
	padding-right: 1rem;
}

.settings-modal__input-max-messages {
	width: 12ch !important;
}