
body {
	/* overflow: hidden; */
}

button:disabled {
	background: #dddddd;
}
pre {
	background-color: #f9f9f9!important;
	border: solid thin #e7e2e2!important;
	border-radius: .5rem !important;
	padding-left: 1.5rem !important;
}

td input {
	width: 100%;
}

.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .25rem !important;
  font-size: .875rem !important;
  line-height: .5 !important;
  border-radius: .2rem !important;
}

.MuiAccordion-root {
	margin: 0 0 0 -1rem !important;
}

.spinner {
	font-size: 2rem !important;
	color: #9fd6f8;
}

.modal-dialog{
    position: relative;
    display: table; /* This is important */
    overflow-y: auto;
    overflow-x: auto;
}
.center {
	text-align: center;
	vertical-align: middle;
	align-self: center;
	justify-self: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.align-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.disabled {
	opacity: .50;
}

.error {
	color: red;
}

.success {
	color: green !important;
}

.updating {
	color: rgba(255, 187, 0, 0.884);
}

.visited-color {
	color: #1a0dab;
}

.request__msg-icon {
  margin: .3rem 0 0 .5rem;
	font-size: 1rem;
	float: left;
}
.request__msg-caret {
	margin: .3rem .1rem 0 .5rem;
	font-size: 1rem;
	float: left;
}

.header__container {
	z-index: 99;
	position: fixed;
	top: 0;
	background-color: #333333;
	width: 100%;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__left-container {
	display: flex;
	align-items: center;
}

.header__icon {
	margin: 0 0 0 .5rem;
	cursor: pointer;
}

.header__title {
	margin: 0 0 0 1rem;
	color: whitesmoke;
	float: left;
	vertical-align: middle;
	font-size: x-large;
	font-weight: 100;
	cursor: pointer;
}
.header__trash {
	float: left;
	margin: 0 0 0 1rem;
	cursor: pointer;
	color: whitesmoke;
	font-size: large !important;
}

.header__stop {
	float: left;
	margin: 0 0 0 1rem;
	cursor: pointer;
	color: whitesmoke;
	font-size: large !important;
}

.header__filter {
	float: left;
}
.header__filter-input {
	margin: 0 0 0 1rem;
	height: 20px;
	width: 300px;
}
.header__filter-input.active {
	background-color: lightyellow;
}

.header__status,
.header__settings {
	margin: 0 0 0 1rem;
	font-size: large !important;
}
.header__status {
	float: left;
}
.header__settings {
	color: whitesmoke;
	margin-right: .5rem;
}
.header__status {
	color: red;
}

.request-response__container {
	margin: 3rem 0 0 0;
	display: -webkit-flex; /* Safari */
  display: flex;
}

.request__container {
	padding-right: .5rem;
	overflow: auto;
	width: 600px;
	height: calc(100vh - 3rem);
	max-height: calc(100vh - 3rem);
	resize: both;
	border-right: solid grey;
	margin: 0 1rem 0 0;
	display: flex;
	flex-direction: column;
}

.request__msg-container {
	margin: 0 0 0 0;
	white-space: nowrap;
	width: 100%;
}
.request__msg-seqno-container {
	display: none;
	width: 0;
}
.request__msg-timestamp-container {
	margin: 0 0 0 .5rem;
	padding: 0;
	float: left;
	background-color: white;
	width: 10ch;
	text-align: right;
}
.request__msg-timestamp {
	margin-right: .1rem;
	font-family: 'Courier New', Courier, monospace;
}
.request__msg {
	display: inline-block;
	cursor: pointer;
	margin: 0;
	padding: .0;
	width: calc(100% - 100px);
	white-space: nowrap;
}
.request__msg.active {
	background-color: yellow;
}
.request__endpoint {
	color: green;
}

.request__body {
	margin: 0 0 0 .5rem;
	width: auto;
	white-space: pre;
	font-family: 'Courier New', Courier, monospace;
}

.response__loading,
.response__container {
	height: calc(100vh - 3rem);
	max-height: calc(100vh - 3rem);
	overflow-y: auto;
	overflow-x: auto;
	-webkit-flex: 1;
	flex: 1;
}

.response__data-container {
	white-space: nowrap;
}

.response__body {
	font-family: 'Courier New', Courier, monospace;
}

.request__headers,
.response__headers,
.request__query-params,
.response__body {
	display: none;
}
.request__headers.active,
.response__headers.active,
.request__query-params.active,
.response__body.active {
	display: block;
	margin: 0 1rem .5rem 0;
}

.request__headers-twisty,
.response__headers-twisty,
.request__query-params-twisty,
.response__body-twisty {
	width: 0;
  	height: 0;
  	border-top: .5rem solid transparent;
  	border-bottom: .5rem solid transparent;
  	border-left: .5rem solid;
  	float: left;
  	margin: .5rem .1rem 0 0 !important;
  	cursor: pointer;
}
.request__headers-twisty.active,
.response__headers-twisty.active,
.request__query-params-twisty.active,
.response__body-twisty.active {
	width: 0;
  	height: 0;
  	border-left: .5rem solid transparent;
  	border-right: .5rem solid transparent;
  	border-top: .5rem solid;
  	float: left;
}

.twisty-label {
	cursor: pointer;
}

.http-message__url {
	cursor: pointer;
}

.resend-modal__url-container,
.resend-modal__body-container {
	display: table;
	width: calc(100%);
}
.resend-modal__body {
	height: 90vh;
}
.resend-modal__url,
.resend-modal__body {
	display: table-row;
}

.modal-window {
	display: flex;
	align-items: center;
	justify-content: center;
}

.settings-modal {
	background: white;
	width: 90vw;
	padding: 1rem 1rem;
}

.settings-modal__scroll-container {
	overflow-y: auto;
	height: calc(90vh - 400px);
}

.modal-content {
	width: 90vw;
}

.table settings-modal__table {
	white-space: nowrap;
}

.settings-modal__error-message,
.resend-modal__error-message {
	float: left;
	color: red;
}

.settings-modal__input-path-container,
.settings-modal__input-url-container {
	padding-right: 1rem;
	width: 40% !important;
}
.settings-modal__input-path,
.settings-modal__input-url {
	width: 300px !important;
}
.settings-modal__select-protocol {
	width: 100px !important;
	padding-left: 0 !important;
}

.settings-modal__proxy-delete-button {
	margin-top: .5rem;
}

.settings-modal__icon {
	margin-top: .725rem;
}

.settings-modal__proxy-path,
.settings-modal__proxy-protocol,
.settings-modal__proxy-host {
	padding-top: .5rem;
	border: none;
}
.settings-modal__status-container,
.settings-modal__recording-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.settings-modal__status,
.settings__recording {
	margin-top: .70rem !important;
	cursor: pointer;
}
.settings__recording {
	color: steelblue;
}

.settings-modal__label-max-messages {
	padding-right: 1rem;
}
.settings-modal__input-max-messages {
	width: 12ch !important;
}
